services:
  prometheus:
    image: prom/prometheus:v2.54.1
    profiles: ["prometheus"]
    restart: unless-stopped
    command:
      - --config.file=/etc/prometheus/prometheus.yml
      - --storage.tsdb.path=/prometheus
    volumes:
      - /srv/stack/{{.Env}}/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - /srv/data/{{.Env}}/prometheus:/prometheus
    ports:
      - "127.0.0.1:9090:9090"
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    networks:
      - app_net
