[Unit]
Description=stackctl apply for {{ENV}}
Requires=docker.service
After=docker.service network-online.target
Wants=network-online.target

[Service]
Type=oneshot
WorkingDirectory={{STACK_ROOT}}
ExecStart=/usr/local/bin/stackctl apply --env {{ENV}}
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
