[Unit]
Description=stackctl apply for {{.Env}}
Requires=docker.service
After=docker.service network-online.target
Wants=network-online.target

[Service]
Type=oneshot
WorkingDirectory={{.StackRoot}}
ExecStart=/usr/local/bin/stackctl apply --env {{.Env}}
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
